.header {
  background: white;
  z-index: 900 !important;
  &-navbar-item {
    width: 5rem;
    img {
      object-fit: contain;
      max-height: inherit;
    }
  }
  .navbar-brand {
    .navbar-burger {
      height: inherit !important;
      span {
        height: 2px;
      }
    }
  }
}
