.header {
  background: white;
  z-index: 900 !important; }
  .header-navbar-item {
    width: 13rem; }
    .header-navbar-item img {
      object-fit: contain;
      max-height: 2rem; }
  .header .navbar-brand .navbar-burger {
    height: inherit !important; }
    .header .navbar-brand .navbar-burger span {
      height: 2px; }
